__pycache__/
*.py[cod]
*$py.class
archive
*.sql
mcapi/
workspace.code-workspace
db/alives
db/gamestate
score.py
.gitignore
db/highscore
db/names
db/pinball.db
db/pinball.db-journal
db/gamestate
db/pinball.db
